table {
  border: 5px solid #0d47a1;  //blue darken-4
}

td {
  vertical-align:top;
}

#title{
  color: #e0e0e0;
  font-family:"Times New Roman", Times, serif;
  font-size: 30px;
}

#content{
  color: #0d47a1;
  font-family:"Times New Roman", Times, serif;
  font-size: 20px;
}

textarea{
  width: 900px;
  height: 300px;
}
