{% extends "blog/base.html" %}

{% block content %}

<form action="{% url 'blog:alter' %}" method="post">
  {% csrf_token %}

<br><br>

<hr>
  <div class="container">
    <table class="center-align">
      <tr class="center-align">
        <td class="center-align"><b> Generate .xlsx File </b></td>
        <td class="center-align"><b> Generate .pdf File </b></td>
        <td class="center-align"><b> Django Admin Panel</b></td>
      </tr>
      <tr class="center-align">
        <td class="center-align"><a href="{% url 'blog:xlsx' %}" class="btn hoverable green">Generate</a></td>
        <td class="center-align"><a href="{% url 'blog:pdf' %}" class="btn hoverable red">Generate</a></td>
        <td class="center-align"><a href="/admin" class="btn hoverable blue darken-3"> I Am Root! </a></td>
      </tr>
    </table>
  </div>
<hr>

<br><br>

  <div>
    <h3 class="center-align"> Current Users </h3>
    <br>
    <table class="center-align">
        <thead>
          <th> Username </th>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Bhawan </th>
          <th> E-Mail </th>
          <th colspan="2"> Status </th>
        </thead>
        {% for user in users %}
        <tr>
          <td> {{user.username}} </td>
          <td> {{user.blogger.first_name}} </td>
          <td> {{user.blogger.last_name}} </td>
          <td> {{user.blogger.bhawan}} </td>
          <td> {{user.email}} </td>
          <td class="{% if user.is_superuser %} blue-text {% else %} {% if user.is_active %} green-text {% else %} red-text {% endif %} {% endif %}">
            {% if user.is_superuser %} ADMIN {% else %}
            {% if not user.is_superuser %}<input type="checkbox", name="{{ user.username }}" id="{{ forloop.counter }}"/>
               <label for="{{ forloop.counter }}"></label> {% endif %}{% if user.is_active %} Active {% else %} Banned {% endif %} {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

<br><br>

<p class="center"><input type="submit" value="alter status" class="btn hoverable blue darken-3"/></p>

<br><br>
</form>
{% endblock %}
