<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title> BackEnd's Blog </title>
  <link rel="stylesheet" href="{% static 'materialize.min.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-2">

    <!-- Navbar -->
        <nav class="blue darken-3">
         <div class="nav-wrapper">
           <a class="brand-logo">BackEnd's Blog</a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li><a href="{% url 'blog:feed' %}"> Feed </a></li>
             <li><a href="{% url 'blog:post' %}"> Post </a></li>
             <li><a href="{% url 'blog:profile' request.user.username %}"> Profile </a></li>
             <li><a href="{% url 'blog:discover' %}"> Discover </a></li>
             {% if request.user.is_superuser %}
              <li><a href="{% url 'blog:admin_tools' %}"> Admin Tools </a><li>
             {% endif %}
             <li><a href="{% url 'blog:home' %}"> Logout </a></li>
           </ul>
         </div>
        </nav>

  {% if messages %}
    {% if message.tags == "success" %}
      <p class="green-text"> {{message}} </p>
    {% else %}
      <p class="red-text"> {{message}} </p>
    {% endif %}
  {% endif %}

  {% block content %}
  {% endblock %}
</body>

</html>
