{% extends "blog/base.html" %}

{% block content %}

<br><br>

<div class="row container" class="post_div">
  <table style="border:dashed">

    <tr class="post_header">
      <td><h2 class="left-align"> {{post.title}} </h2>  <h5 class="left-align"> {{post.date }} </h5></td>
    </tr>

    <tr class="grey lighten-4">
      <td class="post_content"> {{post.content}} </td>
    </tr>

    <tr class="grey lighten-4">
      <td class="post_content">
        <p class="right-align">
          ~ {% if post.user.blogger.first_name != "?" %} {{post.user.blogger.first_name}} {% endif %} {% if post.user.blogger.last_name != "?" %} {{post.user.blogger.last_name}} {% endif %}
          {% if post.user.blogger.first_name == "?"  and post.user.blogger.last_name == "?" %} {{post.user.username}} {% endif %}
        </p>
      </td>
    </tr>
    {% if request.user == post.user %}
    <tr class="grey lighten-4">
      <td class="right-align">
        <!-- Delete Function -->
        <form method="post" action="{% url 'blog:delete' 'post' %}">
        {% csrf_token %}
          <input type="hidden" name="post_id" value="{{post.id}}" />
          <input type="submit" class="btn-small red" value="delete" />
        </form>
      </td>
    </tr>
    {% endif %}
  <table>
 <br>
</div>

<br>
<div class="row grey lighten-4">
  <br>
  <h3> Post a Comment: </h3>
  <p class="grey-text"> 100 characters max </p>
  <form method="post" action="{% url 'blog:comment' post.id %}">
  {% csrf_token %}
    <input type="text" maxlength=100 name="comment" />
    <p class="center-align"><input type="submit" value="comment" class="btn hoverable" /></p>
    <br>
  </form>
</div>

<br>
<div>
  <h3> Comments: </h3>
  {% for comment in post.comments.all %}
  <table class="grey lighten-4">
      <tr>
        <td> {{comment.content}} </td>
      </tr>
      <tr>
        <td>
        <p class="right-align">
          ~ {% if comment.user.blogger.first_name != "?" %} {{comment.user.blogger.first_name}} {% endif %} {% if comment.user.blogger.last_name != "?" %} {{comment.user.blogger.last_name}} {% endif %}
          {% if comment.user.blogger.first_name == "?"  and comment.user.blogger.last_name == "?" %} {{comment.user.username}} {% endif %}
        </p>
        <p class="right-align"> {{comment.date}} </p>
      </td>
      </tr>
      <tr>
        {% if request.user == comment.user %}
        <tr class="grey lighten-4">
          <td class="right-align">
            <!-- Delete Function -->
            <form method="post" action="{% url 'blog:delete' 'comment' %}">
            {% csrf_token %}
              <input type="hidden" name="comment_id" value="{{comment.id}}" />
              <input type="submit" class="btn-small red" value="delete" />
            </form>
          </td>
        </tr>
        {% endif %}
      </tr>
  </table>
  <br>
  {% endfor %}
  {% if no_comments %}
    <td><h5> None </h5></td>
  {% endif %}
</div>

{% endblock %}
