{% extends "blog/base.html" %}

{% block content %}

  <br>

  <h2> Other Users: </h2>

  <br><br>

  <div class="container">
      <table>
        <thead class="grey lighten-1">
          <td><b> Username </b></td>
          <td><b> First Name </b></td>
          <td><b> Last Name </b></td>
          <td><b> Bhawan </b></td>
        </thead>

        {% for user in all_unfollowed_users %}
                <tr class="grey lighten-3">
                  <td><a href="{% url 'blog:profile' user.username %}"> {{user.username}} </a></td>
                  <td> {{user.blogger.first_name}} </td>
                  <td> {{user.blogger.last_name}} </td>
                  <td> {{user.blogger.bhawan}} </td>
                </tr>
        {% endfor %}

      </table>


  </div>
{% endblock %}
