{% extends "blog/base.html"  %}

{% block content %}

<form method="post" action="{% url 'blog:edit' request.user.username %}" enctype ='multipart/form-data' >
{% csrf_token %}

{% load static %}
<br>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "error" %}
      <p class="red-text"> {{message}} </p>
    {% endif %}
  {% endfor %}
{% endif %}
<br><br>


<div class="row">

  <div class="col s1"> <!-- just to give some space --> </div>

  <div class="col s2">
    {% if user.blogger.dp %}
      <img src="{{ user.blogger.dp.url }}" alt="{{user.username}}'s dp"/>
    {% else %}
      <img src="{% static 'db.jpeg' %}"/>
    {% endif %}
    <input type="file" name="profile_pic" />
    <p> we recommend choosing a square sized image, preferably 250 x 250 pixels </p>
  </div>

  <div class="col s1"> <!-- just to give some space --> </div>

  <div class="col s8">
    <table>
      <tr>
        <td class="grey lighten-1"> Username </td>
        <td class="grey lighten-1"> {{user.username}} </td>
      </tr>
      <tr>
        <td class="grey lighten-2"> First Name </td>
        <td class="grey lighten-2"> <input type="text" name="first_name" value="{{request.user.blogger.first_name}}"/> </td>
      </tr>
      <tr>
        <td class="grey lighten-1"> Last Name </td>
        <td class="grey lighten-1"> <input type="text" name="last_name" value="{{request.user.blogger.last_name}}"/> </td>
      </tr>
      <tr>
        <td class="grey lighten-2"> Bhawan </td>
        <td class="grey lighten-2"> <input type="text" name="bhawan" value="{{request.user.blogger.bhawan}}"/> </td>
      </tr>
      <tr>
        <td class="grey lighten-1"> Email </td>
        <td class="grey lighten-1"> <input type="email" name="email" value="{{request.user.email}}" required/> </td>
      </tr>
    </table>
  </div>

</div>

<div class="row">
  <div class="center-align">
    <input type="submit" value="Save" class="btn-large blue darken-3"/>
  </div>
</div>

</form>
{% endblock %}
