{% extends "blog/base.html" %}

{% block content %}

<br><br>

  {% for post in feed %}
  <div class="row container" class="post_div">
    <table style="border:dashed">
      <tr class="post_header">
        <td><h2 class="left-align"> {{post.title}} </h2>  <h5 class="left-align"> {{post.date }} </h5></td>
      </tr>

      <tr class="grey lighten-4">
        <td class="post_content"> {{post.content}} </td>
      </tr>

      <tr class="grey lighten-4">
        <td class="post_content">
          <p class="right-align">
            ~ {% if post.user.blogger.first_name != "?" %} {{post.user.blogger.first_name}} {% endif %} {% if post.user.blogger.last_name != "?" %} {{post.user.blogger.last_name}} {% endif %}
            {% if post.user.blogger.first_name == "?"  and post.user.blogger.last_name == "?" %} {{post.user.username}} {% endif %}
          </p>
          <br>
          <a href="{% url 'blog:comment' post.id %}"> comment </a>
        </td>
      </tr>

    <table>
    <br>
  </div>
  {% endfor %}

{% endblock %}
