<!DOCTYPE html>
<html>

<head>
  <title> BackEnd's Blog </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'materialize.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'home_page.css' %}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-2">


  <!-- Header -->
  <div class="container center-align">
      <h1> Backend's Blog </h1>
  </div>

  <!-- Table for Organisation -->

  <table cellspacing="500">
   <tr>

      <!-- Signup Form -->
      <td class="blue lighten-4">
      <form action="{% url 'blog:signup' %}" method="post">
       {% csrf_token %}
       <p class="center"> Sign Up </p>

       {% if messages %}
       <p class="red-text center-align">{% for message in messages %} {% if forloop.counter == 1 and message.tags == 'warning'%} {{message}}  {% endif %} {% endfor %}</p>
       {% endif %}

        <label for="username"> Username: </label>
          <input type="text" name="username" maxlength=100 required/>
        <br>
        <label for="password"> Password: </label>
          <input type="password" name="password" maxlength=100 required/>
        <br>
        <label for="password_verifier"> Password Again: </label>
          <input type="password" name="password_verifier" maxlength=100 required/>
        <br>
        <label for="email_id"> Email Id: </label>
          <input type="email" name="email_id" required/>
        <p class="center-align"><input type="submit" value="sign up" class="blue btn" /></p>
        <!-- !!!! Add waves ripple effect to the buttons -->
      </form>
      </td>

      <!-- !!!! Add cell spacing -->

      <!-- Login Form -->
      <td class="green lighten-3 accent-1">
      <form action="{% url 'blog:ulogin' %}" method="post">
       {% csrf_token %}
       <p class="center"> Login </p>

       <!-- display error message if entered login credentials are incorrect -->
       {% if messages %}
       <p class="red-text center-align">{% for message in messages %} {% if forloop.counter == 1 and message.tags == 'error'%} {{message}}  {% endif %} {% endfor %}</p>
       {% endif %}

        <label for="username"> Username: </label>
          <input type="text" name="username" required/>
        <br>
        <label for="password"> Password: </label>
          <input type="password" name="password" required/>

        <br><br><br><br><br><br><br><br><br>
        <p class="center-align"><input type="submit" value="login" class="green btn" /></p>
        <!-- !!!! Add waves ripple effect to the buttons -->
      </form>
      </td>

   </tr>
  <table>


</body>

</html>
