{% extends 'blog/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'post_page.css' %}" type"text/css" />

<br><br><br>

<form action="{% url 'blog:post' %}" method="post" id="post">
{% csrf_token %}

  <div class="container center-align">
    <table style="width:100%">

      <tr class="blue darken-4">
        <td>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" maxlength="50" required/>
        </td>
      </tr>

      <tr class="grey lighten-4" height="300">
        <td>
          <textarea name="content" form="post" id="content" maxlength="1000"></textarea>
        </td>
      </tr>

    </table>
  </div>

<br><br>

<div class="container center-align">
  <input type="submit" class="btn-large hoverable blue darken-4" value="Post"/>
</div>

<br>

</form>

{% endblock %}
