{% extends "blog/base.html"  %}

{% block content %}

{% load static %}
<br><br><br>


<div class="row">

  <div class="col s1"> <!-- just to give some space --> </div>

  <div class="col s2">

    {% if user.blogger.dp %}
      <img src="{{user.blogger.dp.url}}"/>
    {% else %}
      <img src="{% static 'db.jpeg' %}"/>
    {% endif %}

    {% if request.user != user %}
      {% if user in request.user.blogger.following.all %}
        <a href="{% url 'blog:unfollow' user.username %}" class="btn-small"> UnFollow </a>
      {% else %}
        <a href="{% url 'blog:follow' user.username %}" class="btn-small"> Follow </a>
      {% endif %}
    {% endif %}
  </div>

  <div class="col s1"> <!-- just to give some space --> </div>

  <div class="col s8">
    <table>
      <tr>
        <td class="grey lighten-1"> Username </td>
        <td class="grey lighten-1"> {{user.username}} </td>
      </tr>
      <tr>
        <td class="grey lighten-2"> First Name </td>
        <td class="grey lighten-2"> {{user.blogger.first_name}} </td>
      </tr>
      <tr>
        <td class="grey lighten-1"> Last Name </td>
        <td class="grey lighten-1"> {{user.blogger.last_name}} </td>
      </tr>
      <tr>
        <td class="grey lighten-2"> Bhawan </td>
        <td class="grey lighten-2"> {{user.blogger.bhawan}} </td>
      </tr>
      <tr>
        <td class="grey lighten-1"> Email </td>
        <td class="grey lighten-1"> {{user.email}} </td>
      </tr>
    </table>
    {% if user == request.user %}
        <!-- edit page option -->
        <div class="right-align">
          <a class="btn-small" href="{% url 'blog:edit' user.username %}"> edit </a>
        </div>
    {% endif %}

  </div>

</div>

<br><br>

<div class="row">
  <h3> Following </h3>
  <table>
    <thead>
      <td> Username </td>
      <td> First Name </td>
      <td> Last Name </td>
      <td> Bhawan </td>
    </thead>

    {% for u in user.blogger.following.all %}
      <tr>
        <td><a href="{% url 'blog:profile' u.username %}"> {{u.username}} </a></td>
        <td> {{u.blogger.first_name}} </td>
        <td> {{u.blogger.last_name}} </td>
        <td> {{u.blogger.bhawan}} </td>
      </tr>
    {% endfor %}
  </table>
</div>

<br>

<h3> Posts </h3>

{% for post in posts %}
<div class="row container">
  <table style="border:dashed">
    <tr>
      <td><h4 class="left-align"> {{post.title}} </h4>  <h6 class="left-align"> {{post.date }} </h6></td>
    </tr>

    <tr class="grey lighten-4">
      <td> {{post.content}} </td>
      <td class="right-align"><a href="{% url 'blog:comment' post.id %}"> comment </a></td>
    </tr>
  <table>
  <br>
</div>
{% endfor %}

{% endblock %}
